<article class="post">
  <div class="title">
    <h3>{{Post.title}}</h3>
    <p>{{Post.content}}</p>
    </div>
    <p>{{format_date Post.publishedAt}}</p>
  </div>
  <div class="meta">
    |
  </div>
</article>