{{> post-info blogPost }}

{{#if logged_in}}
<form class="comment-form container container-fluid mt-5">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form> 
{{/if}}
<div class="container container-fluid mt-5"> 

{{> comments blogPost.Comments}}

</div>
{{#if logged_in}}
<script src="/javascript/comment.js"></script>
{{/if}}